<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://az204sqlfnapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5bdf75d8-f6da-4be4-9233-91a895f01872/resourceGroups/az204FunctionApp-rg/providers/Microsoft.Web/sites/az204sqlfnapp</ResourceId>
    <UserName>$az204sqlfnapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://az204sqlfnapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>